---
import type { CollectionEntry } from 'astro:content'
import TableOfContents from '@/components/TableOfContents.astro'
import Layout from './Layout.astro'

interface Props {
  post: CollectionEntry<'posts'>
}

const { post } = Astro.props
const { headings } = await post.render()
---

<Layout
    title={post.data.title}
    description={post.data.description},
    image={`${import.meta.env.SITE}/posts/${post.slug}/og.png`}
    canonicalUrl={`${import.meta.env.SITE}/posts/${post.slug}/`}
    type='article'
>   
    <div class="w-full mt-8 lg:flex lg:items-start">
        {headings.length && <TableOfContents headings={headings} class="flex-grew" />}
        <article class="prose w-full break-words mr-28">
            <slot />
        </article>
    </div>
</Layout>
