---
import type { CollectionEntry } from 'astro:content'
import TOC from '@/components/TOC.astro'
import Layout from './Layout.astro'

interface Props {
  post: CollectionEntry<'posts'>
}

const { post } = Astro.props
const { headings } = await post.render()
---

<Layout
    title={post.data.title}
    description={post.data.description},
    image={`${import.meta.env.SITE}/posts/${post.slug}/og.png`}
    canonicalUrl={`${import.meta.env.SITE}/posts/${post.slug}/`}
    type='article'
>
    <div class="m-auto mb-8 mt-8 gap-x10 lg:flex lg:items-start post-box">
        {headings.length > 0 && 
            <aside class="absolute left-full h-full pt-16 hidden lg:block">
                <TOC headings={headings} />
            </aside>}
        <article class="prose">
            <slot />
        </article>
    </div>
</Layout>


<style>
.post-box {
    position: relative;
}
</style>